<div class="mask d-flex align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="diary">
        <h2>Your workout plan for:</h2>
        
        <app-date-selector (dateOutput)="onDateSelected($event)"></app-date-selector>

        <div class="workout-container">
          <table>
            <tr class="workout-parameters">
              <td></td>
              <td class="workout-column">Sets</td>
              <td class="workout-column">Reps/Set</td>
              <td class="workout-column">Weight/Set</td>
            </tr>
      
            <tr class="exercise">
              <td class="exercise-name">deadlift</td>
              <td class="workout-column"> <span>4</span></td>
              <td class="workout-column"> <span>12</span></td>
              <td class="workout-column"> <span>120</span></td>
              <td class="delete"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td>
            </tr>
            <tr class="exercise">
              <td class="exercise-name">incline bench press</td>
              <td class="workout-column"> <span>4</span></td>
              <td class="workout-column"> <span>12</span></td>
              <td class="workout-column"> <span>120</span></td>
              <td class="delete"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td>
            </tr>
            <tr class="exercise">
              <td class="exercise-name">deadlift</td>
              <td class="workout-column"> <span>4</span></td>
              <td class="workout-column"> <span>12</span></td>
              <td class="workout-column"> <span>120</span></td>
              <td class="delete"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td>
            </tr>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>


<!-- video modal -->
<div class="modal fade" id="video" tabindex="-1" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="video"> <span style="font-size: 25px; font-weight: 700">Video</span><br></p>
      </div>

      <div class="modal-body">
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/dBMidaBb8v8?list=PL_LnEwg3rwYQfZKCEMJHX6GBfsH3CQ96W" title="How to Deadlift: 5 Simple Steps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="modal-footer">
        <button id="closeBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>