.mask {
  margin-top: 40px;
  position: relative;
}

.diary {
  text-align: left;
  margin-bottom: 40px;
}

.container {
  max-width: 70vw;  
}

.workout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-parameters {
  text-align: center;
  width: 80px;

  .workout-column {
    background-color: rgb(40, 118, 170);
  }
}

.workout-column {
  text-align: center;
}

.exercise-name {
  font-size: 20px;
  width: 50%;
}

.delete {
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.modal-content {
  color: black;
}

h2 {
  display: inline;
  margin-right: 20px;
}

table {
  width: 100%;
  font-size: 20px;
}