<div class="mask d-flex align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="diary">
        <h2>Your workout plan for:</h2>
        
        <app-date-selector (dateOutput)="onDateSelected($event)"></app-date-selector>

        <div class="workout-container">
          <table>
            <tr class="workout-parameters">
              <td></td>
              <td class="workout-column">Sets</td>
              <td class="workout-column">Reps/Set</td>
              <td class="workout-column">Weight/Set</td>
            </tr>
        
              
            <tr class="exercise">
              <td class="exercise-name">deadlift</td>
              <td class="workout-column"> <span>4</span></td>
              <td class="workout-column"> <span>12</span></td>
              <td class="workout-column"> <span>120</span></td>
              <td class="delete"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td>
            </tr>
            <tr class="exercise">
              <td class="exercise-name">incline bench press</td>
              <td class="workout-column"> <span>4</span></td>
              <td class="workout-column"> <span>12</span></td>
              <td class="workout-column"> <span>120</span></td>
              <td class="delete"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td>
            </tr>
            <tr class="exercise">
              <td class="exercise-name">deadlift</td>
              <td class="workout-column"> <span>4</span></td>
              <td class="workout-column"> <span>12</span></td>
              <td class="workout-column"> <span>120</span></td>
              <td class="delete"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td>
            </tr>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>