<div class="mask d-flex align-items-center">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="diary">
        <h2>Your food diary for:</h2>
        <span class="date">
          <a class="prev" (click)="goToDate('previous')">
            <i class="fa-solid fa-caret-left fa-2xl"></i>
          </a>

          <time class="fixed-size-time">{{ formattedDate }}</time>

          <a class="next" (click)="goToDate('next')">
            <i class="fa-solid fa-caret-right fa-2xl"></i>
          </a>

          <a class="calendar" (click)="picker.open()">
            <i class="fa-solid fa-calendar-days fa-lg"></i>
          </a>

          <mat-form-field style="width:1px; visibility:hidden;">
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateSelected($event)">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </span>

        <div class="food-container">
          <table>
            <!-- Display nutrients header -->
            <tr class="nutrients">
              <td></td>
              <td class="nutrient-column">Calories <div class="subtitle">kcal</div></td>
              <td class="nutrient-column">Protein <div class="subtitle">g</div></td>
              <td class="nutrient-column">Fat <div class="subtitle">g</div></td>
              <td class="nutrient-column">Carbs <div class="subtitle">g</div></td>
            </tr>
            <tr class="spacer">
              <td>&nbsp;</td>
            </tr>
            
            <!-- Breakfast -->
            <tr class="meal-header">
              <td class="meal-name">Breakfast <i class="fa-solid fa-square-plus fa-xl"></i> </td>
            </tr>
            <ng-container *ngIf="dailyMealPlan && dailyMealPlan.meals.length > 0">
              <ng-container *ngFor="let foodItem of dailyMealPlan.meals[0].foodItems">
                <tr class="food">
                  <!-- Display food item details -->
                  <td class="food-name">{{ foodItem.name }}</td>
                  <td class="nutrient-column"> <span>{{ foodItem.calories }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.protein }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.fat }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.carbs }}</span></td>
                  <!-- <td class="delete" (click)="removeFoodItem(foodItem, dailyMealPlan.meals[0].name)"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td> -->
                </tr>
              </ng-container>
              <tr class="meal-summary">
                <td></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[0].mealTotals.calories }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[0].mealTotals.protein }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[0].mealTotals.fat }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[0].mealTotals.carbs }}</span></td>
              </tr>
              <tr class="spacer">
                <td>&nbsp;</td>
              </tr>
            </ng-container>

            <!-- Lunch -->
            <tr class="meal-header">
              <td class="meal-name">Lunch <i class="fa-solid fa-square-plus fa-xl"></i> </td>
            </tr>
            <ng-container *ngIf="dailyMealPlan && dailyMealPlan.meals.length > 0">
              <ng-container *ngFor="let foodItem of dailyMealPlan.meals[1].foodItems">
                <tr class="food">
                  <!-- Display food item details -->
                  <td class="food-name">{{ foodItem.name }}</td>
                  <td class="nutrient-column"> <span>{{ foodItem.calories }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.protein }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.fat }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.carbs }}</span></td>
                  <!-- <td class="delete" (click)="removeFoodItem(foodItem, dailyMealPlan.meals[1].name)"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td> -->
                </tr>
              </ng-container>
              <tr class="meal-summary">
                <td></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[1].mealTotals.calories }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[1].mealTotals.protein }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[1].mealTotals.fat }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[1].mealTotals.carbs }}</span></td>
              </tr>
              <tr class="spacer">
                <td>&nbsp;</td>
              </tr>
            </ng-container>

            <!-- Dinner -->
            <tr class="meal-header">
              <td class="meal-name">Dinner <i class="fa-solid fa-square-plus fa-xl"></i> </td>
            </tr>
            <ng-container *ngIf="dailyMealPlan && dailyMealPlan.meals.length > 0">
              <ng-container *ngFor="let foodItem of dailyMealPlan.meals[2].foodItems">
                <tr class="food">
                  <!-- Display food item details -->
                  <td class="food-name">{{ foodItem.name }}</td>
                  <td class="nutrient-column"> <span>{{ foodItem.calories }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.protein }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.fat }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.carbs }}</span></td>
                  <!-- <td class="delete" (click)="removeFoodItem(foodItem, dailyMealPlan.meals[2].name)"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td> -->
                </tr>
              </ng-container>
              <tr class="meal-summary">
                <td></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[2].mealTotals.calories }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[2].mealTotals.protein }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[2].mealTotals.fat }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[2].mealTotals.carbs }}</span></td>
              </tr>
              <tr class="spacer">
                <td>&nbsp;</td>
              </tr>
            </ng-container>

            <!-- Snacks -->
            <tr class="meal-header">
              <td class="meal-name">Snacks <i class="fa-solid fa-square-plus fa-xl"></i> </td>
            </tr>
            <ng-container *ngIf="dailyMealPlan && dailyMealPlan.meals.length > 0">
              <ng-container *ngFor="let foodItem of dailyMealPlan.meals[3].foodItems">
                <tr class="food">
                  <!-- Display food item details -->
                  <td class="food-name">{{ foodItem.name }}</td>
                  <td class="nutrient-column"> <span>{{ foodItem.calories }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.protein }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.fat }}</span></td>
                  <td class="nutrient-column"> <span>{{ foodItem.carbs }}</span></td>
                  <!-- <td class="delete" (click)="removeFoodItem(foodItem, dailyMealPlan.meals[0].name)"> <span><i class="fa-solid fa-square-minus fa-xl"></i></span> </td> -->
                </tr>
              </ng-container>
              <tr class="meal-summary">
                <td></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[3].mealTotals.calories }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[3].mealTotals.protein }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[3].mealTotals.fat }}</span></td>
                <td class="nutrient-column"> <span>{{ dailyMealPlan.meals[3].mealTotals.carbs }}</span></td>
              </tr>
              <tr class="spacer">
                <td>&nbsp;</td>
              </tr>
            </ng-container>

            <!-- Display summary row for the day -->
            <tr class="day-summary">
              <td class="first">Totals</td>
              <td class="nutrient-column"> <span>{{ totalCalories }}</span></td>
              <td class="nutrient-column"> <span>{{ totalProtein }}</span></td>
              <td class="nutrient-column"> <span>{{ totalFat }}</span></td>
              <td class="nutrient-column"> <span>{{ totalCarbs }}</span></td>
            </tr>

            <tr class="day-summary">
              <td class="first">Daily Goal</td>
              <td class="macro"><span class="macro-value">10</span></td>
              <td class="macro"><span class="macro-value">10</span></td>
              <td class="macro"><span class="macro-value">10</span></td>
              <td class="macro"><span class="macro-value">10</span></td>
            </tr>

            <tr class="day-summary">
              <td class="first">Remaining</td>
              <td class="macro"><span class="macro-value">10</span></td>
              <td class="macro"><span class="macro-value">10</span></td>
              <td class="macro"><span class="macro-value">10</span></td>
              <td class="macro"><span class="macro-value">10</span></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>