.mask {
  margin-top: 40px;
  position: relative;
}

.diary {
  text-align: left;
  margin-bottom: 40px;
}

.container {
  max-width: 85vw;
}

.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  margin-right: 10px;
  cursor: pointer;
}

.next {
  margin-left: 10px;
  cursor: pointer;
}

.date {
  font-size: 28px;
}

.calendar {
  margin-left: 20px;
  cursor: pointer;
}

.nutrient-column {
  text-align: center;
  width: 80px;
}

.food-name {
  font-size: 20px;
}

.nutrients {
  margin-top: 20px;
  .nutrient-column {
    background-color: rgb(40, 118, 170);
  }
}

.delete {
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.meal-summary {
  background-color: rgb(59, 55, 55);
}

.first {
  text-align: right;
}

.prev,
.next {
  user-select: none;
}

.fixed-size-time {
  width: 450px;
  height: 50px;
  display: inline-block;
  text-align: center;
}

.modal-content {
  color: black;
}

.add {
  cursor: pointer;
}

.input-group {
  input {
    border-width: 1px;
  }
}

.input-group-text {
  width: 90px;
}

.pie-chart {
  width: 50%;
  margin-left: 50px;
}

.chart-canvas {
  width: 450px;
  height: 450px;
}

td.macro {
  text-align: center;
}

h2 {
  display: inline;
  margin-right: 20px;
}

table {
  width: 100%;
  font-size: 20px;
}