<div class="wrapper">
  <h1 class="title">Change your password</h1>
    
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">

   <div class="row">
      <div class="col-md-5">
        <div class="form-outline mb-4">
          <input type="password" placeholder="New Password" class="form-control form-control-lg" formControlName="newPassword" [ngClass]="{'is-invalid': submitted && passwordChangeForm.controls['newPassword'].errors}"/>
          <div *ngIf="passwordChangeForm.controls['newPassword'].errors" class="text-danger">
            <div *ngIf="passwordChangeForm.controls['newPassword'].errors['minlength']">Password should be at least 6 characters.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="form-outline mb-4">
          <input type="password" placeholder="Confirm Password" class="form-control form-control-lg" formControlName="confirmPassword"/>
          <div *ngIf="passwordChangeForm.controls['confirmPassword'].errors" class="text-danger">
            <div *ngIf="passwordChangeForm.controls['confirmPassword'].errors['minlength']">Password should be at least 6 characters.</div>
            <div *ngIf="passwordChangeForm.controls['confirmPassword'].errors['confirmPasswordValidator']">Password doesn't match.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <button type="submit" class="btn btn-primary btn-lg">
        Confirm
      </button>
    </div>

  </form>
</div>
