<div class="container">
  <h1 class="main-title">Find your exercise</h1>
  <div class="search-bar">
    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
    <button type="submit" (click)="searchCardioExercises(searchQuery)">Search</button>
  </div>
  <div class="content">
    <div class="left-fragment">
      <ul class="list-group mt-3" *ngIf="cardioExercises.length > 0; else noResultsTemplate">
        <li *ngFor="let exercise of cardioExercises" class="list-group-item" (click)="selectCardioExercise(exercise)">{{ exercise.name }}</li>
      </ul>
      <ng-template #noResultsTemplate>
        <p *ngIf="showNoResultsMessage">No results found.</p>
      </ng-template>
    </div>
    <div class="right-fragment">
      <ng-container *ngIf="selectedCardioExercise">
        <h3>{{ selectedCardioExercise.name }}</h3>
      
        <form [formGroup]="cardioExerciseForm" (ngSubmit)="onSubmit()">
          <div class="form-group row mb-4">
            <label class="col-sm-4 col-form-label">How long? (minutes)</label>
            <div class="col-sm-3">
              <input type="number" min="1" class="form-control" formControlName="minutes" [ngClass]="{'is-invalid': submitted && cardioExerciseForm.controls['minutes'].errors}">
            </div>
          </div>
        
					<button type="submit" class="btn btn-primary">Add to workout</button>
        </form>
          
      </ng-container>
    </div>
  </div>
</div>